{% extends 'parent/base.html' %}
{% load static %}

{% block content %}
    <main id="content" role="main">
        <div class="container content-space-t-3 content-space-t-lg-5">
            <div class="w-lg-75 text-center mx-lg-auto">
                <div class="mb-5 mb-md-10">
                    <h1 class="display-4">درباره ما</h1>
                    <p class="lead">Front یک شرکت وب است که وب سایت می سازد. کسب‌وکارها در هر اندازه‌ای - از استارت‌آپ‌های
                        جدید گرفته تا شرکت‌های عمومی - از موضوع ما برای ایجاد و مدیریت آنلاین کسب‌وکارشان استفاده می‌کنند.
                    </p>
                </div>
            </div>
            <div class="row gx-3">
                <div class="col mb-3">
                    <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img17.jpg' %}); height: 15rem;">
                    </div>
                </div>
                <div class="col-3 d-none d-md-block mb-3">
                    <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img6.jpg' %}); height: 15rem;">
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img14.jpg' %}); height: 15rem;">
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col mb-3 mb-md-0">
                    <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img25.jpg' %}); height: 15rem;">
                    </div>
                </div>
                <div class="col-4 d-none d-md-block mb-3 mb-md-0">
                    <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img16.jpg' %}); height: 15rem;">
                    </div>
                </div>
                <div class="col">
                    <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img12.jpg' %}); height: 15rem;">
                    </div>
                </div>
            </div>
        </div>
        <div class="container content-space-2 content-space-lg-3">
            <div class="row justify-content-lg-center">
                <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
                    <div class="text-center">
                        <h2 class="display-4">7</h2>
                        <p class="small">سال در تجارت</p>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
                    <div class="text-center">
                        <h2 class="display-4">3,5k+</h2>
                        <p class="small">نسخه های فروخته شده</p>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="text-center">
                        <h2 class="display-4">85%</h2>
                        <p class="small">مشتریان خوشحال</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top mx-auto" style="max-width: 25rem;"></div>
        <div class="container content-space-2 content-space-lg-3">
            <div class="row justify-content-lg-between">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2>ابزارها باید با کاربر سازگار شوند، نه برعکس.</h2>
                </div>
                <div class="col-lg-6">
                    <p>از سال 2007، ما به 25 شرکت کمک کرده ایم تا بیش از 1000 محصول باورنکردنی را عرضه کنند. ما معتقدیم که
                        بهترین راه حل های دیجیتال در تقاطع استراتژی کسب و کار، فناوری موجود و نیازهای واقعی کاربر ساخته می
                        شوند.</p>
                    <p>همه چیز می تواند واقعاً پیچیده شود، واقعاً به سرعت، و یک چشم انداز عملی، مصنوعی و روشن ضروری است تا
                        بتوان چیزی را ایجاد کرد که در نهایت قرار است مورد استفاده قرار گیرد. احساسات نیز نقش مهمی دارند و
                        ایجاد زیبایی شناسی واضح و زیبا برای ایجاد محیطی دلپذیر که در آن کاربر واقعاً از زمانی که در آن سپری
                        می‌کند لذت ببرد، از اهمیت بالایی برخوردار است. در نهایت، همه ما مشتاق چیزهای زیبایی هستیم که فقط کار
                        می کنند</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
