{% extends 'parent/base.html' %}
{% load static %}

{% block content %}
    <div class="position-relative bg-img-start" style="background-image: url({% static 'svg/components/card-11.svg' %});">
        <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2 position-relative zi-2">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                <h1>تماس با ما</h1>
                <p>نظرات و انتقادات خود را بیان کنین</p>
            </div>
        </div>
    </div>
    <div class="container content-space-1 content-space-lg-1">
        <div class="mx-auto" style="max-width: 35rem;">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-5 mb-md-9">
                        <h2>فرم تماس با پشتیبانی</h2>
                        <p>سوال یا نظرات خود را مطرح کنین</p>
                    </div>
                    <form action="{% url 'website:contact_us' %}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row gx-3">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    {{ form.full_name.label_tag }}
                                    {{ form.full_name }}
                                </div>
                            </div>
                        </div>
                        <div class="row gx-3">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    {{ form.phone_number.label_tag }}
                                    {{ form.phone_number }}
                                </div>
                            </div>
                        </div>
                        <div class="row gx-3">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    {{ form.subject.label_tag }}
                                    {{ form.subject }}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form.content.label_tag }}
                            {{ form.content }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">ارسال درخواست</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
