{% extends 'parent/base.html' %}
{% load static %}
{% load shop_tags %}

{% block content %}
    <div class="position-relative content-space-t-2 content-space-t-lg-3">
        <div class="js-swiper-shop-classic-hero swiper bg-light">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container content-space-t-2 content-space-b-3">
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                                <div class="mb-6">
                                    <h1 class="display-4 mb-4">درپوش طرح اصلی جلو</h1>
                                    <p>فرانت علاوه بر اینکه در نوآوری‌های فنی بازی را تغییر می‌دهد، برخی از پرفروش‌ترین
                                        کلاه‌ها را در
                                        قفسه خود دارد.</p>
                                </div>
                                <div class="d-flex gap-2">
                                    <a class="btn btn-primary rounded-pill" href="#">نمایش جزئیات محصول</a>
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-1">
                                <div class="w-75 mx-auto">
                                    <img class="img-fluid" src="{% static '/img/mockups/img5.png' %}" alt="Image Description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-swiper-shop-classic-hero-button-prev swiper-button-prev"></div>
            <div class="js-swiper-shop-classic-hero-button-next swiper-button-next"></div>
        </div>
        <div class="position-absolute bottom-0 start-0 end-0 mb-3">
            <div class="js-swiper-shop-hero-thumbs swiper" style="max-width: 13rem;">
                <div class="swiper-wrapper"></div>
            </div>
        </div>
    </div>
    <div class="border-bottom">
        <div class="container content-space-2">
            <div class="row">
                <div class="col-md-4 mb-7 mb-md-0">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-protected-card.svg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-1">تسویه حساب ایمن</h4>
                            <p class="small mb-0">تسویه حساب مطمئن تضمینی</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-7 mb-md-0">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img class="ps-2  avatar avatar-4x3" src="{% static 'svg/illustrations/oc-return.svg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-1">30 روز بازگشت</h4>
                            <p class="small mb-0">پیشنهاد ما به شما بازپرداخت کامل ظرف 30 روز پس از خرید است.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-truck.svg' %}"
                                 alt="Image Description">
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h4 class="mb-1">ارسال رایگان</h4>
                            <p class="small mb-0">حمل و نقل استاندارد رایگان را به صورت خودکار در هر سفارش دریافت کنید.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% show_latest_products %}
    <div class="container content-space-2 content-space-lg-3">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <h2>خرید بهترین محصولات در فروشگاه</h2>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card card-bordered shadow-none overflow-hidden">
                    <div class="card-body d-flex align-items-center border-bottom p-0">
                        <div class="w-65 border-end">
                            <img class="img-fluid" src="{% static '/img/380x400/img3.jpg' %}" alt="Image Description">
                        </div>
                        <div class="w-35">
                            <div class="border-bottom">
                                <img class="img-fluid" src="{% static '/img/380x360/img8.jpg' %}" alt="Image Description">
                            </div>
                            <img class="img-fluid" src="{% static '/img/380x360/img7.jpg' %}" alt="Image Description">
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <h3 class="card-title">تی شرت</h3>
                        <p class="card-text text-muted small">شروع از 29.99 تومان</p>
                        <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده
                            همه</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card card-bordered shadow-none overflow-hidden">
                    <div class="card-body d-flex align-items-center border-bottom p-0">
                        <div class="w-65 border-end">
                            <img class="img-fluid" src="{% static '/img/380x400/img4.jpg' %}" alt="Image Description">
                        </div>
                        <div class="w-35">
                            <div class="border-bottom">
                                <img class="img-fluid" src="{% static '/img/380x360/img6.jpg' %}" alt="Image Description">
                            </div>
                            <img class="img-fluid" src="{% static '/img/380x360/img5.jpg' %}" alt="Image Description">
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <h3 class="card-title">پوشش های فنی</h3>
                        <p class="card-text text-muted small">شروع از 399.99 تومان</p>
                        <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده
                            همه</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card card-bordered shadow-none overflow-hidden">
                    <div class="card-body d-flex align-items-center border-bottom p-0">
                        <div class="w-65 border-end">
                            <img class="img-fluid" src="{% static '/img/380x400/img2.jpg' %}" alt="Image Description">
                        </div>
                        <div class="w-35">
                            <div class="border-bottom">
                                <img class="img-fluid" src="{% static '/img/380x360/img4.jpg' %}" alt="Image Description">
                            </div>
                            <img class="img-fluid" src="{% static '/img/380x360/img3.jpg' %}" alt="Image Description">
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <h3 class="card-title">کلاه</h3>
                        <p class="card-text text-muted small">شروع از 13.99 تومان</p>
                        <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده
                            همه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light">
        <div class="container content-space-2">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto">
                <div class="row justify-content-lg-between">
                    <div class="mb-5">
                        <h2>اخبار جدید را دریافت کنید</h2>
                    </div>
                    <form method="post" action="{% url 'website:newsletter' %}">
                        {% csrf_token %}
                        <div class="input-card input-card-pill input-card-sm border mb-3">
                            <div class="input-card-form">
                                <input class="form-control border-0 me-1" type="text" placeholder="نام"
                                       name="first_name" hidden="">
                                <label for="subscribeForm" class="form-label visually-hidden">ایمیل را وارد کنید</label>
                                <input type="email" class="form-control form-control-lg" name="email"
                                       placeholder="ایمیل خود را وارد نمایید" aria-label="ایمیل خود را وارد کنید">
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg rounded-pill">ثبت نام</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
