{% extends 'parent/base.html' %}
{% load static %}

{% block content %}
    <div class="container content-space-3 content-space-lg-5">
        <div class="row">
            <div class="col-lg-8 mb-7 mb-lg-0">
                <h4 class="mb-3">انتخاب آدرس </h4>
                <form action="." method="post" id="checkout-form" novalidate>
                    {% csrf_token %}
                    <hr class="my-4">
                    <div class="d-grid gap-2">
                        {% for address in addresses %}
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="address_id" value="{{ address.id }}" required>
                                <label class="form-check-label" for="address">
                                    {{ address.state }},{{ address.city }},{{ address.address }} ,{{ address.zip_code }}
                                </label>
                            </div>
                        {% endfor %}
                        <div class="mt-3">
                            <a class="" href="{% url 'dashboard:customer:address-list' %}">مدیریت آدرس ها</a>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row align-items-center">
                        <div class="col-sm text-center text-sm-start">
                            <a class="link" href="{% url 'cart:cart-summary' %}">
                                بازگشت به سبد خرید<i class="bi-chevron-left small me-1"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="ps-lg-4">
                    <div class="card card-sm shadow-sm mb-4">
                        <div class="card-body">
                            <div class="border-bottom pb-4 mb-4">
                                <h3 class="card-header-title">خلاصه سفارش</h3>
                            </div>
                            <div class="input-group border-bottom pb-4 mb-3 ">
                                <input type="text" class="form-control text-center" name="coupon" placeholder="کد تخفیف"
                                       aria-label="کد تخفیف" form="checkout-form" id="coupon-input">
                                <button class="btn btn-primary" type="button" onclick="validateCoupon()"> بررسی</button>
                            </div>
                            <div class="border-bottom pb-4 mb-4">
                                <div class="d-grid gap-3">
                                    <dl class="row">
                                        <dt class="col-sm-6">هزینه ارسال</dt>
                                        <dd class="col-sm-12 text-sm-end mb-0">برای تهران و حومه 35000 تومان</dd>
                                        <dd class="col-sm-12 text-sm-end mb-0">برای شهرستان ها 50000 تومان</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="d-grid gap-3 mb-4">
                                <dl class="row">
                                    <dt class="col-sm-6">مالیات تخمینی</dt>
                                    <dd class="col-sm-12 text-sm-end mb-0">
                                        9% مالیات -
                                        <span class="formatted-price" id="total-tax"> {{ total_tax }}</span>
                                    </dd>
                                </dl>
                                <dl class="row">
                                    <dt class="col-sm-6">جمع کل</dt>
                                    <dd class="col-sm-6 text-sm-end mb-0 formatted-price" id="total-price">{{ total_price }}</dd>
                                </dl>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" type="submit" form="checkout-form">ثبت نهایی</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function applyDiscount(total_price, total_tax) {
            $("#total-price").html(total_price)
            $("#total-tax").html(total_tax)
            formatPriceInToman(document.getElementById("total-price"))
            formatPriceInToman(document.getElementById("total-tax"))
        }
        function validateCoupon() {
            $.ajax({
                url: "{%  url 'order:validate-coupon' %}",
                method: 'POST',
                data: {
                    code: $('#coupon-input').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log("success", response);
                    Toastify({
                        text: response.message,
                        className: `info`,
                        style: {
                            background: "blue",
                        }
                    }).showToast();
                    applyDiscount(response.total_price, response.total_tax)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    Toastify({
                        text: jqXHR.responseJSON.message,
                        className: `error`,
                        style: {
                            background: "red",
                        }
                    }).showToast();
                }
            });
        }
    </script>
{% endblock %}
