{% load render_partial %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <link rel="icon" sizes="192x192" href="https://static.djangoproject.com/img/icon-touch.e4872c4da341.png">
    <title>{% block title %} {% endblock %}</title>
    {% include 'includes/header_references.html' %}
    {% block extra_css %}{% endblock %}
    {% block extra_css_no_compress %}{% endblock %}
</head>
<body>

{% render_partial 'apps.utils.views.header_component' %}
<main id="content" role="main">{% block content %}{% endblock %}</main>
{% render_partial 'apps.utils.views.footer_component' %}


{% include 'includes/footer_references.html' %}
{% block extra_js %}{% endblock %}
{% block extra_js_no_compress %}{% endblock %}
{% include 'includes/messages.html' %}

</body>
</html>