{% extends 'parent/base.html' %}
{% load static %}

{% block content %}
    <div class="container content-space-3 content-space-lg-5">
        <div class="row">
            <div class="col-lg-8 mb-7 mb-lg-0">
                <div class="d-flex justify-content-between align-items-end border-bottom pb-3 mb-7">
                    <h1 class="h3 mb-0">سبد خرید</h1>
                    <span>{{ total_quantity }}مورد</span>
                </div>
                <ul class="list-group list-group-flush list-group-no-gutters mb-5">
                    {% for item in cart_items %}
                        <li class="list-group-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img class="avatar avatar-xl avatar-4x3" src="{{ item.product_obj.image.url }}" alt="Image Description">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <h5>
                                                <a class="text-dark" href="{% url 'shop:product-detail' slug=item.product_obj.slug %}">{{ item.product_obj.title }}</a>
                                            </h5>
                                            <div class="d-block d-sm-none">
                                                <h5 class="mb-1 formatted-price">{{ item.total_price }}</h5>
                                            </div>
                                            <div class="d-grid gap-1">
                                                <div class="text-body">
                                                    <span class="small">دسته بندی:</span>
                                                    <span class="fw-semibold small">
                                                        {% for category in item.product_obj.category.all %}
                                                            <a href="#">{{ category.title }} </a>
                                                            {% if not forloop.last %} ,{% endif %}
                                                        {% endfor %}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-1">
                                                <div class="text-body">
                                                    <span class="small">قیمت هر واحد:</span>
                                                    <span class="fw-semibold formatted-price small">{{ item.product_obj.get_price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="d-flex align-items-center">
                                                        <span class="h6 ms-3">تعداد:</span>
                                                        <select class="form-select form-select-sm mb-3" onchange="changeProductQuantity('{{ item.product_id }}',this.value)">
                                                            {% with ''|center:item.product_obj.stock as range %}
                                                                {% for _ in range %}
                                                                    <option value="{{ forloop.counter }}" {% if forloop.counter == item.quantity %} selected {% endif %}>
                                                                        {{ forloop.counter }}
                                                                    </option>
                                                                {% endfor %}
                                                            {% endwith %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="d-grid gap-2 d-flex justify-content-between">
                                                        <button class=" btn btn-sm btn-icon text-danger border-0 mx-1" onclick="removeProduct('{{ item.product_id }}')">
                                                            <i class="bi-trash ms-1"></i> حذف
                                                        </button>
                                                        {% if request.user.is_authenticated %}
                                                            <button class=" btn btn-sm btn-icon text-secondary border-0 mx-1"><i class="bi-heart-fill ms-1 "></i>علایق</button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-2 d-none d-sm-inline-block text-right">
                                            <span class="h5 d-block mb-1 formatted-price">{{ item.total_price }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <div class="row text-center">
                            <p>محصولی برای نمایش وجود ندارد</p>
                        </div>
                    {% endfor %}
                </ul>
                <div class="d-sm-flex justify-content-end">
                    <a class="link" href="{% url 'shop:product-list' %}">
                        به خرید ادامه دهید <i class="bi-chevron-left small ms-1"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ps-lg-4">
                    <div class="card card-sm shadow-sm mb-4">
                        <div class="card-body">
                            <div class="border-bottom pb-4 mb-4">
                                <h3 class="card-header-title">خلاصه هزینه</h3>
                            </div>
                            <form>
                                <div class="d-grid gap-3 mb-4">
                                    <dl class="row">
                                        <dt class="col-sm-6">جمع</dt>
                                        <dd class="col-sm-12 text-sm-end mb-0 formatted-price">{{ total_payment_price }}</dd>
                                    </dl>
                                </div>
                                <div class="d-grid">
                                    <a class="btn btn-primary btn-lg" href="{% url 'order:checkout' %}">ثبت سفارش</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function changeProductQuantity(product_id, quantity) {
            $.ajax({
                url: "{%  url 'cart:session-update-product-quantity' %}",
                method: 'POST',
                data: {
                    product_id: product_id,
                    quantity: quantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                success: function (response) {
                    console.log(response);
                    window.location.reload();
                    // do something with the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    // handle the error case
                }
            });
        }

        function removeProduct(product_id) {
            $.ajax({
                url: "{%  url 'cart:session-remove-product' %}",
                method: 'POST',
                data: {
                    product_id: product_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                success: function (response) {
                    console.log(response);
                    window.location.reload();
                    // do something with the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    // handle the error case
                }
            });
        }
    </script>
{% endblock %}
