{% load static %}

<footer class="border-top">
    <div class="container">
        <div class="row justify-content-lg-between content-space-t-2 content-space-b-lg-2">
            <div class="col-lg-3 mb-5">
                <div class="d-flex align-items-start flex-column h-100">
                    <a class="w-100 mb-3 mb-lg-auto" href="{% url 'website:index' %}" aria-label="Front">
                        <img class="brand" src="{% static 'svg/logos/logo.svg' %}" alt="Logo">
                    </a>
                </div>
            </div>
            {% for footer_link_box in footer_link_boxes %}
                <div class="col-6 col-md-4 col-lg-3 ms-lg-auto mb-5 mb-lg-0">
                    <h5>{{ footer_link_box.title }}</h5>
                    {% for link in footer_link_box.footer_links.all %}
                        <ul class="list-unstyled list-py-1">
                            <li><a class="link-sm text-secondary" href="{{ link.url }}">{{ link.title }}</a></li>
                        </ul>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</footer>
